main{
    margin-top: 50px;
}

.bank-balance{
    width: 1000px;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
    background-color: #11C770;
    color: white;
}

.total-balance{
    margin-left: 5px;
    margin-right: 25px;
}

.table{
    width: 1000px;
    border-top: 2px solid black;
    border-collapse: collapse;
}

.table-row{
    font-weight: bold;
}

tr{
    width: 1000px;
    border: 1px solid black;
    height: 40px;
}

td{
    width: 250px;
    border: 1px solid black;
}

footer{
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 50px;
    border: 1px solid black;
}

.change-view{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.pages-numbers{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}