.form-container{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 1000px;
}

.labels{
    display: flex;
    justify-content: space-between;
}
  
.input{
    width: 240px;
    height: 40px;
    font-size: 20px;
}

button{
    margin-top: 70px;
    width: 100px;
    margin-left: auto;
    height: 25px;
}